{% extends 'base.html' %}
{% block title %} Top 250 Rated {% endblock title %}

{% block body %}

<br>
 <div class="container">
   <h4>Top 250 Rated <i class="bi bi-capslock-fill fa-lg"></i></h4>
   <br>
  <div class="table-responsive">
 <table class="table table-bordered table-striped">
  <thead class="table-dark">
    <tr>
      <th scope="col">Rank</th>
      <th scope="col">Title</th>
      <th scope="col">Rating</th>
      <th scope="col">Year</th>
      <th scope="col">Link</th>
    </tr>
  </thead>
  <tbody>
  {% for title,rating,year,id in data %} 
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{title}}</td>
      <td>{{rating}}</td>
      <td>{{year}}</td>
      <td><a href="{% url 'movie_details' id %}" role="button" class="btn btn-outline-dark">Movie Info <i class="bi bi-info-circle"></i></a></td> 
     
    </tr>
  {% endfor %}
  </tbody>
  </table>
</div>
</div>

{% endblock body %}
